# Virtual Environment and PyCharm directories
venv/
.idea/

# Python Bytecode
*.pyc

# Content
content/images
content/content.json
content/output.mp4

# APIs Credentials
credentials/algorithmia.json
credentials/client-secrets.json
credentials/google-search.json
credentials/watson-nlu.json

# Old Python Scripts (Development)
*.old.py